<!DOCTYPE html>
	<html>
		<head>
			<title></title>
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<link rel="stylesheet" href="styles.css" />
		</head>
		<body>
			<div class="container">

			<!-- Top Panel Header -->
				<div class="panel-group">
					<div class="panel panel-group" id="top-panel-header-bar">
						<div class="panel-heading" id="top-panel-heading">
							<span>GET THE 411 NOW!</span>
							<span><img src="Assets/Collapse_Arrow.png"></span>
						</div>
					</div>

				<!-- Panel main content -->
				<div id="search-bar">
					<div id="search-bar-wrapper">
						<span>Search</span><input id="search-bar-input" />
					</div>
				</div>
				<div class="panel-group main-content-panels">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels" id="new-section">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				</div>
		</body>
</html>