<!DOCTYPE html>
	<html>
		<head>
			<title></title>
			<!-- Latest compiled and minified CSS -->
			<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
			<link rel="stylesheet" href="styles.css" />
		</head>
		<body>
			<div class="container" id="container-full">

			<!-- Top Panel Header -->
			
				<div class="panel-group" id="header-panel">
					<div class="panel panel-group" id="top-panel-header-bar">
						<div class="panel-heading" id="top-panel-heading">
							<span>GET THE 411 NOW!</span>
							<span><img src="Assets/Expand_Arrow.png" id="expand"></span>
						</div>
					</div>

				<!-- Panel main content -->
				<div id="show-panels" class="main-content-wrap">
				<div id="search-bar">
					<div id="search-bar-wrapper">
						<span>Search</span><input id="search-bar-input" />
					</div>
				</div>
				<div class="panel-group main-content-panels" id="first-panel">
					<div class="panel panel-group main-content">
						<img src="Assets/NEW_icon.png" id="new-img">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels" id="new-section">
					<div class="panel panel-group main-content">
						<img src="Assets/NEW_icon.png" id="new-img">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group main-content">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group main-content">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group main-content">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group main-content">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br>
							<img id="data-icon" src="Assets/Data_icon.png">
						<div class="panel-desc"><span maxlength="10">Lorem ipsum dolor sit amet labore et dolore magna aliqua.Lorem ipsum dolor sit amet labore et... <a href="#"><img src="Assets/Read_Arrow.png"> <span id="read-more">Read more</a></span></span>
						</div>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group main-content">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>

				<div class="panel-group main-content-panels">
					<div class="panel panel-group main-content">
						<a class="subtitle-links" href="#"><h3>Subtitle goes here</h3></a>
						<br><span>
							Lorem ipsum dolor sit amet labore et dolore magna aliqua.
						</span>
					</div>
				</div>
					</div>
				</div>
		</body>
		<script
		  src="https://code.jquery.com/jquery-2.2.4.min.js"
		  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
		  crossorigin="anonymous"></script>
		<script src="news_panel.js" type="text/javascript"></script>
</html>